*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    

}
.slider{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 600px;
    text-align: center;
    justify-content: center;
    line-height: 600px;
    margin-bottom: 50px;
    
}
.slider .group-name{
    background-size: 60px;
    background: linear-gradient(45deg, #f8f8f8, #2ae393, #ff3cb1, #f6ff4b);
    font-size: 50px;
    font-weight: 600;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 2s ease infinite;
}
.header{
    position: absolute;
    width: 100%;
    height: 46px;
    top:20px
}
#nav .list{
    
}
#nav .ul{
    left: 20%;
}
#nav .list li{
    display: inline-block;
}
#nav .list li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    line-height: 46px;
    padding: 24px;
    margin: 12px;
    text-transform: uppercase;
    font-weight: 550;
    
    
}
#nav .list li a:hover{
    background-color: white;
    color: purple;
    border-radius: 20px;
}

.header #nav{
    
}
#nav .btn{
}
.container{
    padding-top: 70px;
}
.gr-profile{
    display: flex;
    margin-left: -100px;
    
}
.profile-item.sec{
    background-color: #23a6d5 !important;
}
.gr-profile .profile-item{
    height: 400px;
    width: 20%;
    background-color: rgb(234, 87, 87);
    border-radius: 20px;
    text-align: center;
    margin-left: 100px;
    padding: 15px;
    overflow: hidden;
    
    
    
    
}
.gr-profile .profile-item:hover{
    
}


.profile-item .profile-name .name{
    font-weight: 600;
    font-size: 15px;
    color: white;
    padding-bottom: 20px;
}
.profile-name .introduction{
    font-weight: 400;
    font-size: 14px;
}
.profile-item .profile-image img{
    width:45%;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-top: 25px;
    object-fit: cover;
}
.profile-contact{
    
}
.profile-item .contact-icon{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    font-size: 20px;
    
}
.contact-icon a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 3px;
}
.contact-icon a:hover{
    text-decoration: none;
    color: black;
    background: white;
    cursor: pointer;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
